*{
    padding:  0;
    margin: 0;
    

}

:root{

    --border-color : #f8f8f8f8;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:url(https://picsum.photos/seed/picsum/1600/800);
    background-repeat: no-repeat;
    gap: 20px;

    
}   

h1{
    font-size: 30px;
    font-family: system-ui;
    font-weight: bolder;
    font-style: normal;
    background-color: rgba(220, 20, 60, 0.493);
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 8px;
}

.tictac{
    
    text-align: center; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    width: 320px;


}


.tictac button{
    width: 100px;
     height: 100px;
     border-radius: 1rem;
     font-size: 50px;
     font-family: "Black Ops One", system-ui;
     font-weight: 400;
     font-style: normal;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 4px  red;
     border:  0px;  
     background-color: rgb(255, 255, 255);
     color: black;
 }


 #reset{
    font-size: 20px;
    font-family:  system-ui;
    border-radius: 0.6rem;
    font-weight: bold;
    padding: 10px;
    color: black;
    border:  0px; 
    background-color: rgb(255, 255, 255);
 }



 .hide{

    display: none;

 }

 .winner{
    text-align: center;
    font-size: 25px;
   
 }
